body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.round{
    border: 1px solid white;
    border-radius: 100px;
    width: 20px;
    display: flex;
    color: white;
    background-color: rgb(34, 0, 128);
    align-items: center;
    justify-content: center;
    
   
}

.main{
    padding: 10px;
    width: 900px;
    display: flex;
    background-color: aliceblue;
    height: 550px;

    
    
}

.starter{
    border: 2pxpx solid black;
    width: 150px;
    padding: 50px;
   background-image: url(./assets/images/bg-sidebar-desktop.svg);
   border-radius: 10px;
}

button{
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
 
}

.btn-div{
    display: flex;
    justify-content: end;
    width: 100%;
}

.end{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    width: 70%;
    height: 100%;
    margin: 20px;
}



.dnumber input{
    width: 300px;
    width: 400px;
    height: 40px;
    border-radius: 9px;
}

.dmail input{
    width: 300px;
    width: 400px;
    height: 40px;
    border-radius: 9px;
}

.dname input{
    width: 300px;
    width: 400px;
    height: 40px;
    border-radius: 9px;
}

